<mat-sidenav-container>
    <mat-sidenav #sidenav class="example-sidenav">
        <mat-nav-list>
            <div *ngFor="let category of links; let lastCategory = last">
                <h3 mat-subheader>{{category.name}}</h3>
                <a mat-list-item [routerLink]="link.link" *ngFor="let link of category.items" (click)="closeNavigation()">{{link.text}}</a>
                <mat-divider *ngIf="!lastCategory"></mat-divider>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <ng-content></ng-content>
</mat-sidenav-container>